<h1>
  {{title}}
</h1>
  <alert type="info">Hello from ng2-bootstrap  {{ date.toDateString() }}</alert>
  <div style="display:inline-block; min-height:290px;">
    <datepicker [(ngModel)]="date" showWeeks="true"></datepicker>
  </div>

  <a routerLink="/project">project</a>
  <router-outlet></router-outlet>
